* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#grid-container{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        column-width: 30px;
        gap: .4%;
        height: 700px;
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        border: 3px dashed blueviolet;
}

#left-column{
    border: 3px solid chartreuse;
    padding: 5px;
}

#center-column{
    border: 3px solid chartreuse;
    text-align: center;
    padding-top: 10px;
}

#right-column{
    border: 3px solid chartreuse;
    padding: 5px;
}